@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  max-width: 1200px;
  position: relative;
}

.switch-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

span:hover {
  cursor: pointer;
}

.list-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  margin-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
}

.list-card-img {
  width: 100px;
}

.list-card-button {
  padding: 8px;
  text-transform: uppercase;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.list-card-button:hover {
  background-color: #f5f5f5;
}

.item-price {
  color: red;
}

.cardview-card-item {
  position: relative;
  width: 32%;
  margin: 1px;
  border: 1px solid lightgray;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.cardview-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardview-card-img {
  width: 100%;
}

.cardview-header {
  position: absolute;
  top: 10px;
  width: 100%;
}

.cardview-item-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  text-transform: uppercase;
}

.cardview-item-color {
  font-size: 80%;
  margin-top: 5px;
}

.cardview-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
